@model Jobby.Models.Extended.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    string navbar = "_" + ViewBag.UserType + "Navbar";
}

@Html.Partial(navbar)
<div class="container content center-vertical">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-8 offset-lg-2 px-3 px-sm-5" id="change-password-form">
                    <div class="mb-3">
                        <i class="fas fa-shield-alt fa-5x mb-1"></i>
                        <h2 class="heavy-text text-uppercase">Change Password</h2>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Current Password"><i class="fas fa-user-shield"></i></span>
                        </div>
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Current Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.CurrentPassword)
                        @Html.ValidationMessage("InvalidPassword")
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="New Password"><i class="fas fa-lock-open"></i></span>
                        </div>
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Confirm Password"><i class="fas fa-lock"></i></span>
                        </div>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <input type="submit" value="Save Changes" class="btn btn-primary col-12" />
                    <p class="mt-2 mb-0">
                        If you want to <a href=@Url.Action("ChangeEmail","User") class="text-decoration-none">Change Email Address</a> , Please click the link.
                    </p>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}