@model Jobby.Models.Extended.ResetPasswordViewModel
@{ ViewBag.Title = "Reset Password"; }

@Html.Partial("_EmployeeNavbar")

<div class="container content center-vertical">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-8 offset-lg-2 px-3 px-sm-5" id="reset-form">
                    <div>
                        <i class="fas fa-shield-alt fa-5x mb-1"></i>
                        <h2 class="heavy-text text-uppercase">Reset Password</h2>
                        <hr class="bottom-line" />
                        <p>In order to reset your password, Please fill in below code sent to your Email Address.<br /></p>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Sercurity Code"><i class="fas fa-user-shield"></i></span>
                        </div>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Security Code" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.Code)
                        @Html.ValidationMessage("InvalidCode")
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="New Password"><i class="fas fa-lock-open"></i></span>
                        </div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Confirm Password"><i class="fas fa-lock"></i></span>
                        </div>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <input type="submit" value="Reset Password" class="btn btn-primary col-12" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}