@model Jobby.Models.Job
@{ ViewBag.Title = "Create New Job"; }

@Html.Partial("_EmployerNavbar")

<div class="container content">
    <div class="row">
        <div class="p-3 w-100">
            <div class="w-100">
                @if (ViewBag.Img != null)
                {
                    var base64 = Convert.ToBase64String(ViewBag.Img);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src='@imgsrc' class="img-thumbnail rounded-circle" alt="Company Logo" title="Company Logo" width="100" style="height:100px;"/>
                }
                else
                {
                    <img src="~/Images/company.png" class="img-thumbnail rounded-circle" alt="Company Logo" title="Company Logo" width="100" style="height:100px;"/>
                }
                <h3>Hello, @HttpContext.Current.User.Identity.Name.</h3>
                <p class="mb-3">You're about to post a new job for your company <strong>@ViewBag.Company</strong>, Please fill in all these fields correctly to find best candidates.</p>
            </div>
            <div class="col-lg-10 offset-lg-1">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="d-sm-flex">
                        <div class="col-sm-6 px-0 pr-sm-2">

                            <div class="input-group">
                                <div class="input-group-prepend" title="Job Title">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Job Title" } })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="col-sm-6 px-0 pl-sm-2">

                            <div class="input-group">
                                <div class="input-group-prepend" title="Job Field">
                                    <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                </div>
                                @Html.DropDownList("JobFieldID", null, "Job Field", htmlAttributes: new { @class = "custom-select" })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.JobFieldID)
                            </div>
                        </div>
                    </div>
                    <div class="d-sm-flex">
                        <div class="col-sm-6 px-0 pr-sm-2">

                            <div class="input-group">
                                <div class="input-group-prepend" title="Career Level">
                                    <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                                </div>
                                @Html.DropDownList("CareerLevel",
                                new SelectList(new List<string>() { "Volunteer", "Internship", "Student", "Entry Level", "Experienced", "Manager", "Senior Management" }), "Career Level", new { @class = "custom-select" })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.CareerLevel)
                            </div>
                        </div>
                        <div class="col-sm-6 px-0 pl-sm-2">

                            <div class="input-group">
                                <div class="input-group-prepend" title="Job Salary">
                                    <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                </div>
                                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", placeholder = "Salary", min = "500", step = "50" } })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.Salary)
                            </div>
                        </div>
                    </div>

                    <div class="d-sm-flex">
                        <div class="col-sm-6 px-0 pr-sm-2">

                            <div class="input-group">
                                <div class="input-group-prepend" title="Job Country">
                                    <span class="input-group-text"><i class="fas fa-flag"></i></span>
                                </div>
                                @Html.DropDownList("CountryID", null, "Country", htmlAttributes: new { @class = "custom-select" })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.CountryID)
                            </div>
                        </div>

                        <div class="col-sm-6 px-0 pl-sm-2">
                            <div class="input-group">
                                <div class="input-group-prepend" title="Job City">
                                    <span class="input-group-text"><i class="fas fa-city"></i></span>
                                </div>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                            </div>
                            <div class="error-msg">
                                @Html.ValidationMessageFor(model => model.City)
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-left m-0 mt-n1">
                        <label><strong>About The Job :</strong></label>
                        @Html.TextAreaFor(model => model.JobDesc, new { @class = "form-control", rows = "8", placeholder = "About the job..", style = "resize:none,white-space: pre-wrap" })
                        <div class="error-msg">
                            @Html.ValidationMessageFor(model => model.JobDesc)
                            @*@Html.ValidationMessage("Error")*@
                        </div>
                    </div>

                    <input type="submit" value="Post Job" class="btn btn-primary col-md-2 col-sm-3" />
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
